<?xml version="1.0"?>

<robot name="quadrotor" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find hector_quadrotor_description)/urdf/quadrotor_base.urdf.xacro" />
    <xacro:quadrotor_base_macro />

    <xacro:include filename="$(find ss_description)/urdf/realsense.urdf.xacro" />
    <xacro:realsense_camera name="rsd435" parent="base_link">
      <origin xyz="0.28 0 0" rpy="0 0 0"/>
    </xacro:realsense_camera>

    <xacro:arg name="robot_ns" default="" />
    <xacro:arg name="world_frame" default="world" />
    <xacro:arg name="base_link_frame" default="base_link" />

    <xacro:include filename="$(find hector_quadrotor_gazebo)/urdf/quadrotor_sensors.gazebo.xacro" />
    <xacro:quadrotor_sensors />

    <xacro:include filename="$(find hector_quadrotor_gazebo)/urdf/quadrotor_propulsion.gazebo.xacro" />
    <xacro:quadrotor_propulsion />

    <xacro:include filename="$(find hector_quadrotor_gazebo)/urdf/quadrotor_aerodynamics.gazebo.xacro" />
    <xacro:quadrotor_aerodynamics />

    <gazebo>
      <plugin name="quadrotor_controller" filename="libgazebo_ros_control.so">
        <controlPeriod>0.01</controlPeriod>
        <robotSimType>hector_quadrotor_controller_gazebo/QuadrotorHardwareSim</robotSimType>
        <robotNamespace>$(arg robot_ns)</robotNamespace>
      </plugin>
    </gazebo>

    <gazebo>
      <plugin name="camera_controller" filename="libgazebo_ros_control.so">
        <controlPeriod>0.01</controlPeriod>
        <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        <robotNamespace>$(arg robot_ns)/cam_control</robotNamespace>
      </plugin>
    </gazebo>

</robot>
