<launch>
  <arg name="world" default="airplane_2"/>
  <include file="$(find ss_gazebo)/launch/scene.launch">
    <arg name="world" value="$(arg world)"/>
  </include>

  <group ns="uav1">
    <include file="$(find ss_gazebo)/launch/spawn_quadrotor_with_camera.launch">
      <arg name="robot_ns" value="/uav1"/>
      <arg name="name" value="uav1" />
      <arg name="tf_prefix" value="uav1" />
      <arg name="x" value="10.0" />
      <arg name="y" value="-20.0" />
    </include>
  </group>

  <include file="$(find ss_control)/launch/auto_scanning.launch"/>
  <include file="$(find ss_data)/launch/data_process.launch">
    <arg name="display" value="0"/>
  </include>
  <!-- <include file="$(find ss_control)/launch/octomap_mapping.launch"/> -->
</launch>
